/* color scheme from https://coolors.co/07060c-bf2237-f34212-188679-b9d04f */
:root{
    --black:(#07060C);
    --red:(#BF2237);
    --orange: (#F34212);
    --blue: (#188679);
    --green: (#B9D04F);
}

body {
    background-color: black;
    font-family: serif;
    font-size: 18px;
    color: white;
    line-height: 1.5;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:red;
    height: 75px;
    border: medium solid white;
    padding: 5px;
    margin: 3px;  
}
h1 {
    font-size: 40px;
    font-weight:bold;
    background-color: red;
}

/* replace placeholder image with actual image of choice */
header img {
    height: 100%;
    width: auto;
    vertical-align: top left;

}


section .info {
    display: flex;
    height: auto;
    background-color: orange;
    padding: 80px;
    margin: 10px;
    
}

section .contact {
    display: flex;
    height: auto;
    background-color: green;
    padding: 80px;
    margin: 10px;
}
section .work {
    display: flex;
    height: auto;
    background-color: blue;
    padding: 80px;
    margin: 10px;
}

.work samples img {
    width: 45px;
    height: 45px;
}

/* makes a mobile responsive layout */
@media screen and (max-width: 992px) {
    display: block;
    }

@media screen and (max-width: 768px) {
    display: block;
}

@media screen and (max-width: 576px) {
    display: block;
}